.Body{
  font-family: "Noto Sans";
}

.Title{
  font-size: 20px;
  align-self: center;
  text-align: center;
}

.Pi{
  text-align: center;
  align-self: center;
  width: 100%;
}

.IterationDiv{
  text-align: center;
  width: 100%;
}
